{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}

<!-- Header-->
        <header class="py-4">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-1 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">Exams Management</h1>
                    </div>
                </div>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-10">

                        <br>

                        <p>
                            Here you can plan the dates of the exams.
                        </p>

                    </div>
                </div>
            </div>
        </section>


{% endblock %}